// Here you can add other styles

.modal.show.d-block {
  margin-top: 50px;
}
//::-webkit-input-placeholder {
//  color:    #777;
//}
//:-moz-placeholder {
//  color:    #777;
//}
//::-moz-placeholder {
//  color:    #777;
//}
//:-ms-input-placeholder {
//  color:    #777;
//}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(128,128,128,.5) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(128,128,128,.5) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(128,128,128,.5) !important;
}

.btn-xs {
  padding: 0.1rem 0.05rem;
  line-height: 1;
  margin-top: -7px;
}

.text-black-10 {
  color: rgba(0,0,0,.1)
}

.text-black-20 {
  color: rgba(0,0,0,.2)
}

.no-text-decoration:hover {
  text-decoration: none;
}

.btn.btn-default:disabled {
  cursor: not-allowed;
}

.btn.btn-default,
.btn.btn-default:hover:disabled {
  background-color: rgba(221, 221, 221, .6);
  color: rgba(0,0,0,.5);
}

.btn.btn-width-50 {
  width: 50px;
}
.min-width-50 {
  min-width: 50px;
}
.btn.btn-width-80 {
  width: 80px;
}
.min-width-80 {
  min-width: 80px;
}
.min-width-100 {
  min-width: 100px;
}

.btn.btn-default:hover {
  background-color: rgba(221, 221, 221, 1);
  color: rgba(0,0,0,1);
}

ul.dropdown-menu {
  padding: 5px;
}

ul.dropdown-menu > li > a {
  width: 100%;
  display: block;
  color: black;
  padding: 0 3px;
}

ul.dropdown-menu > li > a:hover {
  background-color: lightgray;
  color: white;
  text-decoration: none;
}

.tooltip-inner {
  background: rgba(0,0,0,.6) !important;
}

.modal-footer > div {
  text-align: center;
}

.modal-footer button,
.modal-header button {
  min-width: 80px;

}

.halo-tree .node-title {
  border: 1px transparent solid;
}

.modal-wrapper {
  vertical-align: top !important;
}

.modal-container {
  margin-top: 60px !important;
}

.dashboard-panel {
  display: none;
}

.dashboard-panel.active-panel {
  display: flex;
}

@media(min-width: 576px) {
  .dashboard-panel {
    display: flex;
  }
}

.card.bg-primary {
  border-color: #28ADA7 !important;
}

.btn-primary {
  color: #fff;
  background-color: #28ada7 !important;
  border-color: #28ada7 !important;
}

.btn-primary:hover {
  background-color: #1E847F !important;
  border-color: #1d7b77 !important;
}

.bg-primary {
  background-color: #28ada7 !important;
}

.text-primary {
  color: #28ada7 !important;
}

.modal-primary .modal-header {
  background-color: #28ada7 !important;
}

.sidebar .nav .nav-item {
  background-color: #142d4c !important;
}


.sidebar .nav .nav-item a,
.sidebar .nav .nav-item .nav-link {
  color: white !important;
  font-size: 0.85rem;
}
//
//.nav-item .nav-link.active {
//  background-color: #295d9d!important;
//}

.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item .navbar .dropdown-toggle.active,
.navbar .sidebar .nav .nav-item .dropdown-toggle.active {
  color: #fff !important;
  background: #295d9d !important;
}

.sidebar .nav .nav-item .nav-link.active:hover,
.sidebar .nav .nav-item .navbar .dropdown-toggle.active:hover,
.navbar .sidebar .nav .nav-item .dropdown-toggle.active:hover {
  color: #fff !important;
  background: #698dba !important;
}

.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .navbar .dropdown-toggle:hover,
.navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
  color: #fff !important;
  background: #295d9d !important;
}

.sidebar .nav .nav-item .nav-link.active i,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle i,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
  color: #28ada7;
}

//a {
//  color: #28ada7 !important;
//}

.sidebar .nav .nav-item .nav-link {
  color: white;
}

.sidebar {
  font-size: 0.85rem;
  width: 250px !important;
}

.app-body .sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}

sidebar-fixed .main, .sidebar-fixed .app-footer {
  margin-left: 250px !important;
}


.sidebar-fixed .main, .sidebar-fixed .app-footer {
  margin-left: 250px;
}

@media (min-width: 992px) {
  .sidebar-minimized .sidebar .nav {
    width: 50px !important;
  }
}

@media (min-width: 992px) {
  .sidebar-minimized.sidebar-fixed .sidebar {
    width: 50px !important;
  }
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.sidebar .sidebar-nav,
.sidebar .nav {
  width: 250px !important;
  background-color: #142d4c !important
}

.app-header.navbar .navbar-brand {
  display: inline-block;
  width: 205px !important;
}

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px; }
  .sidebar .sidebar-nav,
  .sidebar .nav {
    width: 250px !important; }
  .main, .app-footer {
    margin-left: 0 !important; }
  .aside-menu {
    margin-right: -250px; }
  .sidebar-mobile-show .sidebar {
    width: 250px;
    margin-left: 0; }
  .sidebar-mobile-show .sidebar .sidebar-nav {
    height: calc(100vh - 55px); }
  .sidebar-mobile-show .main {
    margin-right: -250px !important;
    margin-left: 250px !important;
  }
  //.navbar .navbar-brand {
  //  position: relative;
  //  left: auto;
  //  right: auto;
  //}
  //

  .app-header.navbar .navbar-brand {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
  }

}

.btn-group-gap button {
  margin-right: 3px !important;
  margin-bottom: 1px;
  border-radius: 0.3rem !important;
}
.btn-group-gap button:last-child {
  margin-right: 0px !important;
  margin-bottom: 1px;
}

.badge {
  font-weight: 400;
}

.btn-group button:disabled {
  cursor: default;
}

.mx-input {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.form-control.disabled,
.form-control:disabled {
  cursor: not-allowed;
}
.mx-datepicker.disabled {
  opacity: 1;
}
.mx-input:disabled, .mx-input.disabled {
  background-color: #e9ecef;
  opacity: 1;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
;
}

.min-width-80 {
  min-width: 80px;
}

.card-header-toolbar {
  position: absolute;
  top: -1px;
  right: -5px;
}

.card .card-header > div {
  position: relative;
}

.max-width-300 {
  max-width: 300px;
}

.btn-stackable-group .btn {
  margin-bottom: 3px;
}

.custom-dialog .dg-btn--ok {
  color: #28ada7;
  background-color: #fefefe;
  border-color: #28ada7;
}